body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

*::-webkit-scrollbar {
  width: 6px;
}
*::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #00eaff, #007aff);
  border-radius: 6px;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
